body{background-color: chocolate ; text-align: center;}
img{border:10px solid rgb(255, 238, 0)}
p{font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Silkscreen', cursive;color: black;}
h3{font-family: 'Alumni Sans Pinstripe', sans-serif;}